{% extends "@bootstrap_barrio/layout/page.html.twig" %}
{% block head %}
<div id="navbar" role="banner" class="{{ navbar_classes }}">
  <div class="top-header-container container">
    <div class="top-header-content row">
      <!-- <div class="header-logo">

      </div> -->
      {{ page.top_header_logos }}
      {{ page.medium_header_logos }}
      <section class="col region region-wrapper">
        <div class="header-menu-news">
          {{ page.header }}
        </div>
        <div class="header-blocks">
          {{ page.header_form }}
        </div>
      </section>
    </div>
  </div>
   <nav{{ navbar_attributes }}>
      {% if page.primary_menu %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="CollapsingNavbar">
          <div class="container">
            {{ page.primary_menu }}
          </div>
        </div>
      {% endif %}
      {% if sidebar_collapse %}
        <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
      {% endif %}
    </nav>
</div>
{% endblock %}

{% block content %}
  <div class="container">{{ page.breadcrumb }}</div>
{% if page.header_view %}
  <div class="container">{{ page.header_view }}</div>
{% endif %}
  {% if page.sidebar_first %}
    <div class="content-two-columns">
    <div class="container">
      <div class="row">
      <div class="sidebar_first sidebar col-12 col-lg-3 order-first" id="sidebar_first">
        <aside class="section" role="complementary">
          {{ page.sidebar_first }}
          <span class="sidebar-close"></span>
        </aside>
      </div>
  {% endif %}

  {% if page.sidebar_first %}
    <div id="main" class="col-12 col-lg-9 main-column two-column">
  {% else %}
    <div id="main">
  {% endif %}
    <div class="oira-content">
        <main>
            {% if node.bundle == 'news' %}
              <section class="section container">
            {% else %}
              <section class="section oira-section">
            {% endif %}
              <div class="no-container">
                {{ page.content }}
              </div>
            </section>
        </main>
    </div>
  </div>
      {% if page.sidebar_first %}
        </div>
      </div>
    </div>
      {% endif %}
  {% if page.sidebar_second %}
    <div{{ sidebar_second_attributes }}>
      <aside class="section" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    </div>
  {% endif %}
{% endblock %}

{% block footer %}
  <div class="{{ container }}">
    {% if page.footer_end%}
      <div class="site-footer__bottom">
        {{ page.footer_end }}
      </div>
    {% endif %}
  </div>
{% endblock %}
