{% extends "page.html.twig" %}

{% block content %}
  <div class="home-slider">
    <h1 class="container" style="padding-top: 150px;">Slider Img</h1>
  </div>
  <div class="content-home content-oira-tools content-purple ">
    <div class="container">
      <h2>{{ 'OiRA tools' | trans }}</h2>
    </div>
  </div>
  <div class="content-home content-latest-news content-white ">
    <div class="container">
      <h2>{{ 'Latest news' | trans }}</h2>
      {{ drupal_view('news', 'oshnews_latest') }}
    </div>
  </div>
  <div class="content-home content-promotional-materials content-purple ">
    <div class="container">
      <h2>{{ 'Promotional materials' | trans }}</h2>
    </div>
  </div>
  <div class="content-home content-oira-partners content-white">
    <div class="container">
      <h2>{{ 'OiRA Partners' | trans }}</h2>
    </div>
  </div>
{% endblock %}
