{% extends "page.html.twig" %}

{% block content %}
  <div class="container">{{ page.breadcrumb }}</div>
  {% if page.sidebar_first %}
    <div class="content-two-columns">
      <div{{ sidebar_first_attributes }}>
        <aside class="section col-md-4" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      </div>
  {% endif %}
  {% if page.sidebar_first %}
    <div id="main" class="col-md-8 two-column">
  {% else %}
    <div id="main">
  {% endif %}
    <div class="oira-content">
        <div class="image-fluid">
          <img alt="{{ node.field_image.alt }}" src="{{ node.field_image|file_url }}"/>
        </div>
        <main>
          <section class="section container">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
    </div>
  </div>
      {% if page.sidebar_first %}
    </div>
      {% endif %}
  {% if page.sidebar_second %}
    <div{{ sidebar_second_attributes }}>
      <aside class="section" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    </div>
  {% endif %}
{% endblock %}
