{% extends "@bootstrap_barrio/layout/page.html.twig" %}
{% block head %}
<header id="navbar" role="banner" class="{{ navbar_classes }}">
   <nav{{ navbar_attributes }}>
      {% if page.primary_menu %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="CollapsingNavbar">
          <div class="container">
            {{ page.primary_menu }}
          </div>
        </div>
      {% endif %}
      {% if sidebar_collapse %}
        <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
      {% endif %}
    </nav>
</header>
{% endblock %}

{#{{ drupal_dump(node.bundle) }}#}

{% block content %}
  <div id="main">
    <div class="container">{{ page.breadcrumb }}</div>
    <div class="oira-content">
        <main>
            {% if node.bundle == 'news' %}
              <section class="section container">
            {% else %}
              <section class="section">
            {% endif %}
                <a id="main-content" tabindex="-1"></a>
                {{ page.content }}
                </section>
        </main>
      {% if page.sidebar_first %}
        <div{{ sidebar_first_attributes }}>
          <aside class="section" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        </div>
      {% endif %}
      {% if page.sidebar_second %}
        <div{{ sidebar_second_attributes }}>
          <aside class="section" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="{{ container }}">
    {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
      <div class="site-footer__top clearfix">
        {{ page.footer_first }}
        {{ page.footer_second }}
        {{ page.footer_third }}
        {{ page.footer_fourth }}
      </div>
    {% endif %}
    {% if page.footer_fifth %}
      <div class="site-footer__bottom">
        {{ page.footer_fifth }}
      </div>
    {% endif %}
  </div>
{% endblock %}
