{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}


{% set viewShowAll = drupal_view_result('country_partner_content', 'block_1', node.id, node.id)|length %}
{% set viewPromotional = drupal_view_result('country_partner_content', 'block_5', node.id, node.id)|length %}
{% set viewOiraTools = drupal_view_result('country_partner_content', 'block_3', node.id, node.id, node.id)|length %}
{% set terms = getViewResults('country_partner_content', 'block_3', 'sector_category', node.id) %}
{% set viewNews = drupal_view_result('country_partner_content', 'block_4', node.id, node.id)|length %}

<article{{ attributes.addClass(classes) }}>
  <header>
    {{ title_prefix }}
    {% if label and not page %}
      <h2{{ title_attributes.addClass('node__title') }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {{ author_picture }}
        {% block submitted %}
          <em{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </em>
        {% endblock %}
        {{ metadata }}
      </div>
    {% endif %}
  </header>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    {{ content }}
  </div>

  <div class="partners-related-content">
    <div class="nav-wrapper">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul id="myTabs" class="col nav nav-pills" role="tablist" data-tabs="tabs">
              {% if viewOiraTools > 0 %}
                <li class="active nav-item nav-item-showall"><a class="item-nav-link" href="#show-all" data-toggle="tab"><span class="text tab-show-all">{{ 'Show all'|t }}</span></a></li>
              {% endif %}

              {% if viewPromotional > 0 %}
                <li class="nav-item nav-item-promotional"><a class="item-nav-link" href="#promotional-resources" data-toggle="tab"><span class="text tab-promotional">{{ 'Promotional Resources'|t ~ ' (' ~ viewPromotional ~ ')' }}</span></a></li>
              {% endif %}

              {% if viewOiraTools > 0 %}
                <li class="dropdown nav-item nav-item-oiratools">
                  <a class="dropdown-toggle item-nav-link" href="#oira-tools" role="button" id="dropdownMenuLink" data-toggle="tab" aria-haspopup="true" aria-expanded="false"><span class="text tab-oira-tools">{{ 'Oira Tools'|t ~ ' (' ~ viewOiraTools ~ ')' }}</span></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a href="#oira-tools" data-toggle="tab">{{ 'Any'|t }}</a></li>
                    {% for term in terms %}
                      <li data-toggle="tab"><a href="#{{ term.href }}" data-toggle="tab"><span class="text">{{ term.name|t }}</span></a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}

              {% if viewNews > 0 %}
                <li class="nav-item nav-item-news"><a class="item-nav-link" href="#news" data-toggle="tab"><span class="text tab-news">{{ 'News'|t ~ ' (' ~ viewNews ~ ')' }}</span></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active show" id="show-all">
          <div class="views-wrapper">
            {{ drupal_view('country_partner_content', 'block_1', node.id, node.id) }}
          </div>
        </div>

        {% if viewPromotional > 0 %}
        <div role="tabpanel" class="tab-pane fade" id="promotional-resources">
          <div class="views-wrapper">
            {{ drupal_view('country_partner_content', 'block_5') }}
          </div>
        </div>
        {% endif %}

        {% if viewOiraTools > 0 %}
        <div role="tabpanel" class="tab-pane fade" id="oira-tools">
          <div class="views-wrapper">
            {{ drupal_view('country_partner_content', 'block_3') }}
          </div>
        </div>
       {% endif %}

       {% for term in terms %}
         <div role="tabpanel" class="tab-pane fade" id="{{ term.href }}">
           <div class="views-wrapper">
             {{ drupal_view('country_partner_content', 'block_3', node.id , node.id , node.id, term.id) }}
           </div>
         </div>
       {% endfor %}

        {% if viewNews > 0 %}
          <div role="tabpanel" class="tab-pane fade" id="news">
            <div class="views-wrapper">
              {{ drupal_view('country_partner_content', 'block_4', node.id, node.id) }}
            </div>
          </div>
        {% endif %}

      </div>
    </div>


  </div>

</article>

<script>
  let isPrivate = document.getElementById('block-privatezone');
  if(isPrivate){document.title= 'My profile';}
</script>
